@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    /*Primary color*/
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);

    /*Meutral*/
    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    /*Gradient*/
    --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    /*fonts*/
    --font-family: 'Josefin Sans', sans-serif;
    --font-size: 16px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
}

* {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    color: var(--Dark-Grayish-Red);
}
