@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    /*Primary color*/
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);

    /*Meutral*/
    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    /*Gradient*/
    --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    /*fonts*/
    --font-family: 'Josefin Sans', sans-serif;
    --font-size: 18px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
}

* {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    color: var(--Dark-Grayish-Red);
}

h1 {
    font-size: 500%;
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);
    letter-spacing: 18px;
}

span {
    font-weight: var(--font-weight-light);
    color: var(--Desaturated-Red);
}

p {
    line-height: 30px;
    color: var(--Desaturated-Red);
}

input {
    color: var(--Dark-Grayish-Red);
    font-weight: var(--font-weight-regular);
    font-size: 90%;
    font-family: inherit;
}

.coming-soon {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow: hidden;
}

.coming-soon div:last-child {
    background-image: url(../images/hero-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

.coming-soon div:first-child {
    background-image: url(../images/bg-pattern-desktop.svg), var(--gradient-1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    position: relative;
    width: 100%;
    height: 100%;
}

.coming-soon div:first-child div {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50%;
    height: 85%;
}

.coming-soon div:first-child div h1 {
    margin-top: 110px;
}

.coming-soon div:first-child div p {
    margin: 40px 0;
}

/******************************************************************************/

input[type="email"] {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding-left: 25px; 
    border: .5px solid var(--Desaturated-Red);
}

input[type="email"]::placeholder {
    color: var(--Desaturated-Red);
    font-weight: var(--font-weight-regular);
}

.error {
    border: 2px solid var(--Soft-Red) !important;
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right 110px top 12px;
}

.error-msg {
    color: var(--Soft-Red);
    margin: 0;
    position: relative;
    top: -90px;
    left: 30px;
    font-size: 90%;
}

.error-none {
    display: none;
}

/******************************************************************************/

input[type="submit"] {
    width: 100px;
    height: 55px;
    border-radius: 27.5px;
    border: .5px solid var(--Desaturated-Red);
    cursor: pointer;
    margin-left: 80%;
    position: relative;
    top: -52.5px;
    background-image: url(../images/icon-arrow.svg), var(--gradient-2);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 10px 0px var(--Desaturated-Red);
    transition: box-shadow .5s, background 1ms;
}

input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active {
    background-image: url(../images/icon-arrow.svg);
    background-color: var(--Soft-Red);
    box-shadow: 0px 8px 10px 2px var(--Desaturated-Red);
}

/*******************************************************************************/
